doctype html
html(lang="it")

    head.
        <meta charset="utf-8">

        <title>Rete Lilliput: oltre la fine</title>

        <meta name="description" content="Rete Lilliput: oltre la fine">
        <meta name="author" content="Luca Ferroni">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="dist/reset.css">
        <link rel="stylesheet" href="dist/reveal.css">
        <link rel="stylesheet" href="assets/css/myblood.css">

        <link rel="stylesheet" href="assets/css/from-mte.css">

        <link rel="stylesheet" href="assets/responsive-gallery/css/normalize.min.css">
        <link rel="stylesheet" href="assets/responsive-gallery/css/gallery.min.css">
        <link rel="stylesheet" href="assets/responsive-gallery/css/main.min.css">

    body

        .barra
            .titolo Rete Lilliput: oltre la fine

        .barra.bottom
            .titolo beFair
            .hashtag #rete-lilliput-2021

        .reveal

            // Any section element inside of this container is displayed as a slide
            .slides

                include slides-punto-della-situazione.pug
                include slides-2021.pug

        script(src="dist/reveal.js")
        script(src="plugin/zoom/zoom.js")
        script(src="plugin/notes/notes.js")
        script(src="plugin/search/search.js")
        script(src="plugin/markdown/markdown.js")
        script(src="plugin/highlight/highlight.js")
        script(src="node_modules/revealjs-animated/dist/revealjs-animated.js")

        script.

            // Also available as an ES module, see:
            // https://revealjs.com/initialization/
            Reveal.initialize({
                controls: true,
                progress: true,
                center: true,
                hash: true,

                // Learn about plugins: https://revealjs.com/plugins/
                plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
            });

                //transition: 'slide', // none/fade/slide/convex/concave/zoom
            Reveal.on( 'slidechanged', event => {
                console.log(event.indexh);
            });

html

