section

    h2 Per il 2021

    ul
        li Archiviazione online
        li GDPR compliance
        li rimuovere Sympa?

section(data-background-image="assets/imgs/nextcloud_dashboard.png")

    div.doc-opaque.fragment
        h2 Archiviazione con NextCloud
        h3 archivio.retelilliput.org

section(data-background-image="assets/imgs/nextcloud_cartelle.png")

section(data-background-image="assets/imgs/nextcloud_cartelle.png")

    div.doc-opaque
        ul
            li Ogni associazione ha un gruppo su NextCloud
            li Ogni associazione ha uno o più amministratori del gruppo
            li Ogni amministratore può creare utenti nel proprio gruppo
            li Ogni utente può condividere cartelle e documenti all'interno del proprio gruppo

section

    h6 Abbiamo scelto il provider Hetzner
    ul
        li Sito Germania (e Finlandia)
        li 
            a(href="https://www.hetzner.com/unternehmen/umweltschutz/") Datacenter green
        li Pronto al GDPR: documentazione snella
        li costo di 100 eur/y per 500GB di spazio condiviso
        li noi lo rivenderemmo a 200 eur/y
        li per costo di attivazione: creazione gruppi, assistenza iniziale, lo mettiamo noi?


section

    h2 GDPR compliance

    ul
        li tutte le associazioni devono incaricare Luca Ferroni come responsabile del trattamento
        li tutte le associazioni devono far accettare agli iscritti l'informativa privacy
        li contratto solo con persone giuridiche
