section

    h2 O.D.G.
    ul
        li Un po' di numeri su @liste.retelilliput.org
        li Problemi ricorrenti
        li Amministrazione Sympa
        li Dominio retelilliput.org

section

    h1 Diamo i numeri... &#128512


section

    ul
        li 42 liste attive di cui 26 paganti nel 2019
        li 36 liste chiuse
        li 7908 indirizzi email raggiunti oggi
    
section(data-background-image="assets/imgs/sympa-messaggi-2019-ogni-mese.png")

    h2 2019

section(data-background-image="assets/imgs/sympa-messaggi-2020-ogni-mese.png")

    h2 2020

section(data-background-image="assets/imgs/sympa-messaggi-ogni-anno-dal-2013.png")

    h2 2014 - 2020

section(data-background-image="assets/imgs/mailtester.png")

    div.doc-opaque(style="margin-top: 2em")
        h4 Problemi

        ul
            li liste spammers. 
                ul
                    li In particolare HotMail, Outlook. 
                    li Problemi minori su Libero e Virgilio
            li lentezza nella gestione delle richieste di assistenza
            li retelilliput.org?
            li costo?
